body {
  margin: 0;
  font-family: sans-serif;
}

/* FLEX LAYOUT */
#app {
  display: flex;
  justify-content: space-between;
}
#navbar {
  max-width: 250px;
  height: 100%;
  position: sticky;
  top: 0;
}
#main-doc {
  flex: 1;
}
#main-doc {
  border-left: 3px solid black;
}

@media (max-width: 750px) {
  #app {
    flex-direction: column;
  }
  #navbar {
    max-width: inherit;
    width: inherit;
    position: inherit;
  }
  #main-doc {
    border-left: none;
  }
}

/* SIDEBAR */
#navbar header {
  text-align: center;
  font-size: 2em;
  padding: 15px;
  background: #333;
  color: whitesmoke;
}

.nav-link {
  border-bottom: 1px solid black;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.nav-link,
.nav-link:hover {
  color: black;
}

/* MAIN */
#main-doc {
  padding: 0 45px 30px;
}

.main-section header {
  margin-left: -15px;
  padding: 15px 0;
  font-size: 2em;
  font-weight: bold;
}

p,
li {
  text-align: justify;
}

li {
  margin: 16px 0;
}

pre {
  background: whitesmoke;
  border: 1px solid #ccc;
  padding: 0 15px;
  white-space: pre-wrap;
}
