body {
  margin: 0;
  font-family: sans-serif;
}

/* FLEX LAYOUT */
#app {
  display: flex;
  justify-content: space-between;
}
#navbar {
  width: 300px;
  height: 100%;
  position: sticky;
  top: 0;
}
#main-doc {
  flex: 1;
}

@media (max-width: 750px) {
  #app {
    flex-direction: column;
  }
  #navbar {
    /* width: 100%; */
    width: inherit;
    position: inherit;
  }
}

/* SIDEBAR */
#navbar {
  border: 3px solid magenta;
}

/* MAIN */
.main-section {
  border: 3px solid red;
  min-height: 400px;
}
